# ------------------------------
# Flutter / Dart / Pub
# ------------------------------
.dart_tool/
.packages
.pub-cache/
.pub/
build/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
pubspec.lock
**/doc/api/
**/ios/Flutter/.last_build_id

# ------------------------------
# Android
# ------------------------------
.android/
android/.gradle/
android/app/.cxx/
android/app/build/
android/app/intermediates/
android/app/outputs/
android/app/debug
android/app/profile
android/app/release
*.apk
*.keystore
*.so

# ------------------------------
# iOS / macOS
# ------------------------------
.ios/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/

# ------------------------------
# IDE Configurations
# ------------------------------
.idea/
*.iml
*.ipr
*.iws

# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# Miscellaneous
# ------------------------------
*.log
*.lock
*.class
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# ------------------------------
# Obfuscation & Symbolication
# ------------------------------
app.*.symbols
app.*.map.json
